@import url("./media.scss");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  padding-top: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}

.logo {
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 167px;
  height: 83px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.logo img {
  width: 100%;
  height: 100%;
}

.languages__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 17.5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.select-img {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 15.02px;
  height: 9.02px;
}

.select-img_active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header__languages {
  min-width: 23%;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages-modal {
  width: 140px;
  height: 140px;
  background: #6F6F6F;
  -webkit-box-shadow: 0px 15px 120px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 120px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  padding: 10px 15px 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 33px;
}

.languages-modal_active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.header__language img {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  width: 26px;
  height: 17px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}

.header__link {
  color: #FFFFFF;
  letter-spacing: 0.03em;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  position: relative;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
  outline: none;
  opacity: 0;
}

.header__navbar .header__link::after {
  content: '';
  display: block;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 0;
  height: 2px;
  background: linear-gradient(135deg, #69E4A3 0%, #D2E66A 56.25%, #FDE753 100%);
  position: absolute;
  bottom: -9px;
  border: none;
}

.header__navbar .header__link:hover::after {
  width: 100%;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12.81px;
}

.header__phone img {
  -webkit-transition: 1s;
  transition: 1s;
}

.logo-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.links-active {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  opacity: 1;
}

.number-active {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  opacity: 1;
}

.burger__icon {
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 38px;
  height: 38px;
  display: none;
}

.burger__icon .burger__vector {
  width: 30px;
  height: 4px;
  margin-left: 14px;
  margin-top: 6px;
  background-color: white;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.burger__icon .burger__vector:nth-child(2) {
  width: 40px;
  margin-left: 4px;
}

@media screen and (min-width: 2000px) {
  .header__link {
    font-size: 30px;
  }
  .lng {
    font-size: 30px;
  }
}

@media screen and (max-width: 1150px) {
  .header__link {
    font-size: 18px;
  }
  .lng {
    font-size: 18px;
  }
  .logo img {
    width: 80%;
    height: 80%;
    margin-top: 15px;
  }
  .header__left {
    gap: 0px;
  }
}

@media screen and (max-width: 650px) {
  .header__link {
    display: none;
  }
  .languages__select {
    display: none;
  }
  .burger__icon {
    display: block;
  }
}
/*# sourceMappingURL=header.css.map */